name: Update SST Data

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    # Explicitly grant permission to write to the repo
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install numpy requests netCDF4

      - name: Run Script
        run: python update_sst.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add sst_data.json
          # The "|| exit 0" prevents the workflow from failing if there are no data changes
          git commit -m "Update SST Data" || exit 0
          git push
