name: Update SST Data

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy requests netCDF4 matplotlib

      - name: Run Script
        run: python update_sst.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # Force git to see both the PNG images and the metadata/manifest JSONs
          git add historical_data/*.json
          git add historical_data/*.png
          
          # Commit only if there are changes
          git commit -m "Automated SST Raster Update" || exit 0
          git push
