name: Update SST Data
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy requests netCDF4 matplotlib scipy Pillow
          
      - name: Run Script
        run: python update_sst.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add historical_data/
          git commit -m "Added new SST rasters and updated manifest" || exit 0
          git push
